{% extends 'base.html.twig' %} {% block title %}{{ title }}{% endblock %} {% block body %} {% include 'header.html.twig'
%}
<div class="container">
    <div class="container">
        <!-- Titular principal de la página -->
        <h1 class="display-4">{{ title }}</h1>
        <hr />
    </div>
</div>
{% include 'footer.html.twig' %} {% endblock %}
