:root {
    --main-bg-color: #f5f5f5;
    --secondary-bg-color: #f0f0f0;
    --main-gradiant: rgba(0, 0, 0, 0.05);
    --card-background: #fff;
    --icon-instagram: #ac2bac;
    --icon-twitter: #333333;
    --icon-linkedin: #0082ca;
    --icon-github: #333333;

    --soften-blue: rgba(0, 123, 255, 0.947);
    --soften-blue-timeline: rgba(0, 123, 255, 0.366);
}

/* NAVBAR */
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* HOME */
.home-container,
.habilidades-container,
.herramientas-container,
.llamado-accion-container {
    background-color: var(--main-bg-color);
}

.custom-card {
    background-color: var(--card-background);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* TRAYECTORIA */
.soften-blue {
    color: var(--soften-blue) !important;
}

/* PROYECTOS */
.card-img-top-container {
    overflow: hidden;
    position: relative;
    height: 200px; /* Altura de la imagen dentro del card */
}

.card-img-top {
    transition: transform 0.5s;
    width: 100%;
}

.no-image-placeholder {
    height: 200px; /* Altura de reserva para el contenedor sin imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
}

/* CONTACTO */
.contacto h4 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.contacto p {
    margin-bottom: 5px;
}

/* Alineación del formulario debajo del hr */
@media (max-width: 767.98px) {
    .px-0:last-child {
        margin-top: 20px;
    }
}
@media (min-width: 768px) {
    .col-md-6:last-child {
        margin-top: 20px;
    }
}

/* FOOTER */
.copyright-container {
    background-color: var(--main-bg-color);
}

.container-social .twitter-icon {
    color: var(--icon-twitter);
}

.container-social .instagram-icon {
    color: var(--icon-instagram);
}

.container-social .linkedin-icon {
    color: var(--icon-linkedin);
}

.container-social .github-icon {
    color: var(--icon-github);
}

.copyright .colored-heart {
    color: rgba(255, 0, 0, 0.493);
}

.grainy-gradient-intro:before {
    background: #c3ccea;
    filter: url(#f);
}
.grainy-gradient-intro:before,
.grainy-gradient-intro:after {
    position: fixed;
    inset: 0;
    z-index: -1;
    --grad: radial-gradient(at 50%, red, rgba(255, 0, 0, 0.3) 55%, transparent 80%);
    --mask: var(--grad), var(--grad);
    -webkit-mask: var(--mask);
    -webkit-mask-composite: source-in;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    mix-blend-mode: unset;
    content: "";
}

.grainy-gradient-intro:after {
    background: linear-gradient(90deg, #760dfe 20%, #f51b26, #fd9900);
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 40px auto;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--soften-blue-timeline);
    left: 50%;
    margin-left: -1px;
}

.timeline-item {
    margin-bottom: 50px;
    position: relative;
}

.timeline-item .card {
    border: 0.2px dotted var(--soften-blue-timeline);
    padding: 20px;
    background-color: var(--card-background);
    margin: 2%;
}
