{% extends 'base.html.twig' %} {% block title %}Contacto - Porfolio Personal{% endblock %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Información de contacto -->
        <div class="col-md-6 mb-5 mb-md-0 px-0">
            <section class="contacto py-5 px-3">
                <h1 class="display-4 text-capitalize fs-1">{{ title }}</h1>
                <hr />
                <div>
                    <h4>Información de Contacto</h4>
                    <p>
                        <strong><i class="fas fa-user"></i> Nombre:</strong> Carlos Oliva
                    </p>
                    <p>
                        <strong><i class="fas fa-envelope"></i> Email:</strong> colidom@outlook.com
                    </p>
                    <p>
                        <strong><i class="fas fa-phone"></i> Teléfono:</strong> +34 616514696
                    </p>
                    <p>
                        <strong><i class="fas fa-map-marker-alt"></i> Localicación:</strong> Tenerife // Madrid
                    </p>
                </div>
            </section>
        </div>
        <!-- Formulario de contacto -->
        <div class="col-md-6 px-0">
            <section class="py-5 px-4">
                <form class="row g-3" method="POST">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required />
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="col-12">
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Mensaje" required></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}
