{% extends 'base.html.twig' %} {% block title %}Contacto - Porfolio Personal{% endblock %} {% block body %}
<main>
    <div class="container">
        <div class="row">
            <!-- Información de contacto -->
            <div class="col-md-6 mb-5 mb-md-0">
                <section class="contacto py-5">
                    <h1 class="display-4 text-capitalize fs-1">{{ title }}</h1>
                    <hr />
                    <div>
                        <h4>Información de Contacto</h4>
                        <p><strong>Nombre:</strong> Carlos Oliva</p>
                        <p><strong>Email:</strong> colidom@outlook.com</p>
                        <p><strong>Teléfono:</strong> +34 616514696</p>
                        <p><strong>Dirección:</strong> Santa Cruz de Tenerife, España</p>
                    </div>
                </section>
            </div>
            <!-- Formulario de contacto -->
            <div class="col-md-6">
                <section class="py-5">
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" required />
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" placeholder="Email" required />
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" id="mensaje" rows="5" placeholder="Mensaje" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <style>
        .contacto h4 {
            font-size: 1.5em;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .contacto p {
            margin-bottom: 5px;
        }
    </style>
</main>
{% endblock %}
