<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container-social p-4 pb-0">
        <section class="mb-4">
            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                href="https://twitter.com/_colidom/"
                target="_blank"
                role="button"
            >
                <i class="fab fa-twitter fa-xl twitter-icon"></i>
            </a>

            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                href="https://www.instagram.com/mr.oliva06/"
                target="_blank"
                role="button"
            >
                <i class="fa-brands fa-instagram fa-xl instagram-icon"></i>
            </a>

            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                href="https://www.linkedin.com/in/cjod/"
                target="_blank"
                role="button"
            >
                <i class="fab fa-linkedin-in fa-xl linkedin-icon"></i>
            </a>

            <!-- Github-->
            <a
                data-mdb-ripple-init
                class="btn text-white btn-floating m-1"
                href="https://github.com/colidom"
                target="_blank"
                role="button"
            >
                <i class="fab fa-github fa-xl github-icon"></i>
            </a>
        </section>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 copyright-container">
        <span class="copyright">
            <i class="fa-regular fa-copyright"></i> {{ 'now'|date('Y') }} • Hecho con
            <i class="fa-regular fa-heart colored-heart"></i> por colidom
        </span>
    </div>
    <!-- Copyright -->
</footer>
